<style>
div.desc pre {
	font-size:8pt;
	line-height:8pt;
}
#upload_button {
	display:none;
}
.bad , .good {
	padding:2px;
}
.uploading {
	margin:5px;
	padding:3px;
	border:2px solid #EEE;
}
.bad {
	color:white;
	background-color:red;
}
.good {
	color:green;
}
#main_table th {
	vertical-align:top;
}
</style>

<div id="main_content" class="container"><div class="row">
	<div class="span12" style="margin-bottom:20px;margin-top:10px;">
<div id='login_container'><span style='color:red;font-weight:bold'>ATTENTION!</span> To use this tool, <a href='/api.php?action=authorize'>log in</a>!</div>
<div class='lead'>This tool can upload files from generic URLs to Wikimedia Commons.<br/>PLEASE only upload files that are under a free license. Thanks!</div>
	<div id='output'></div>
<form class='form form-inline'>
<table id='main_table' class='table-condensed'>
<tbody>
<tr><th rowspan=2>URLs</th><td><textarea style='width:100%' rows=5 id='urls'></textarea></td></tr>
<tr><td>Enter File URLs above, one per line. Optionally, follow the URL with a space and the new filename. Optionally, follow the new filename (or blank) with a "|" and a description key (see below). Use <tt>$NL$</tt> for newline characters and <tt>$US$</tt> for underscores.</td></tr>
<tr><th rowspan=2>Description</th><td><textarea style='width:100%' rows=10 id='description'>=={{int:filedesc}}==
{{Information
| Description    = {{en|$DESCRIPTOR$}}
| Date           = 
| Source         = $URL$
| Author         = 
| Permission     = 
| Other_versions = 
}}

[[Category:]]</textarea></td></tr>
<tr><td>Enter the {{Information}} template, including categories etc. The string "$DESCRIPTOR$" will be replaced with the description key (see above) for each file, e.g., volume numbers, species name etc. "$URL" will automatically be replaced with the respective source URL.</td></tr>
<tr><th /><td>
<input class='btn btn-primary' id='simulate' value='Simulate' />
<input class='btn btn-success' id='upload_button' value='Upload' />
</td></tr>
</tbody>
</table>
</form>
<div><small><i>Note:</i> You can "seed" parameters <tt>urls</tt> and <tt>desc</tt>. Parameter <tt>run=1</tt> starts the upload without simulation. Please be careful with that!</small></div>
</div>
</div>
